<h1 class="center">Ma super liste de pokémons</h1>
<!-- <input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
> -->
<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal" appBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created }}</small></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<p *ngIf="pokemonSelected">
    Vous avez sélectionné le pokémon: {{ pokemonSelected.name }}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokémon trouvé.
</p>



